
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}"> <!--favicon-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/food.css') }}">
    <title>{%block title%}Base{%endblock%}</title>
</head>
<body>
    <header font-weight="bolder" class="header">
        <!--Logo-->
        <a href="/"><img src="{{ url_for('static', filename='images/logo1.jpg') }}" alt="unicaf-logo" height="55x" ></a>
        
        <!--This is navbar content-->
        <nav class="navbar navbar-default navbar-static-top">
            <a href="/">Home</a>

            <a href="#">About</a>
            <div class="dropdown">
                <a href="#">Order</a>
                <div class="dropdown-content">
                    <a href="order-make">Make Order</a>
                    <a href="order-history">Order History</a>
                </div>
            </div>

            <a href="contact">Contact</a>

            <div class="dropdown">
                <a href="#">Account</a>
                <div class="dropdown-content">
                    <a href="/login" id="login">Login</a>
                    <a href="/sign-up" id="signUp">Sign Up</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="invisible-box"></div>
    
    <div class="footer">
        <div class="footer1"><h1>Unicafe</h1></div>
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <div class="footer2">
            <h2>Services</h2>
            <ul>
                <li><a href="">Sign Up</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Order Food</a></li>
                <li><a href="">Affliate</a></li>
            </ul>
        </div>

        <div class="footer3">
            <h2>Our Page</h2>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Disclaimer</a></li>
            </ul>
        </div>

        <div class="credit">
            <p>Copyright 2023 GDV all rights reserved</p>
        </div>

    </div>

    
</body>
</html>